#content
	#content_inside2
		#title
			Modificar PELICULA
			%br/
			%br/
		%hr
			= form_for(@movie) do |m|
				#add
					#add_picture
						%img{:alt => "", :height => "318", :src => "/assets/picture.jpg", :width => "250"}
					
					#add_info
						%table
							%tr
								%td Titulo (ESP):
								%td
									= m.text_field :title_esp, :size => 25, :placeholder => "TITULO ESPANOL", :class => "add", :autocomplete => :off
							%tr
								%td Titulo (ENG):
								%td
									= m.text_field :title_eng, :size => 25, :placeholder => "TITULO INGLES", :class => "add"
							%tr
								%td Cantidad:
								%td
									= m.text_field :stock, :size => 25, :placeholder => "Cantidad", :class => "add"
							%tr
								%td Categoria:
								%td
									= m.select(:category, [["Seleccionar",1],["Accion","Accion"],["Animadas","Animadas"],["Comedia","Comedia"],["Drama","Drama"],["Horror","Horror"],["Concierto","Concierto"],["Ciencia Ficcion","Ciencia Ficcion"],["Misterio y Suspenso","Misterio y Suspenso"], ["Infantiles","Infantiles"], ["Peliculas Musicales","Peliculas MUsicales"],["Adultos","Adultos"],["Aventura","Aventura"],["Documentales","Documentales"],["Deportes","Deportes"],["Asiaticas","Asiaticas"],["MP3","MP3"]])					#add_extra
						%table
							%tr
								%td Director:
								%td
									= m.text_field :directors, :size => 10, :placeholder => "Director", :class => "add"
							%tr
								%td Actores:
								%td
									= m.text_field :cast, :size => 25, :placeholder => "Actores", :class => "add"
							%tr
								%td
								%td
									= m.submit "Agregar", :class => "button_add3", :id => "plus"
				%br/
				%br/
				%br/