#content
	#content_inside
		#title
			BUSQUEDA RAPIDA
			%br/
			%br/
		#menu-container{:style => "position:absolute; width: 300px;"}
		%input.box{:size => "25", :type => "text", :placeholder => "Nombre de pelicula", :id => 'buscar'}
			%input.button_sale{:type => "submit", :value => "Buscar", :id => "find", :disabled => "disabled"}
				= hidden_field :movie, :id
				= hidden_field :movie, :name
				%br/
				%br/
				%hr
					%br/
					#title Peliculas
					%table#newspaper-b{:summary => "2007 Major IT Companies' Profit"}
						%thead
							%tr
								%th{:scope => "col"} Titulo (ESP)
								%th{:scope => "col"} Titulo (ENG)
								%th{:scope => "col"} Disponibles
								%th{:scope => "col"} Opciones
						%tfoot
							%tr
								%td{:colspan => "5"}
									%em 
						%tbody
							- @movies.each do |movie|				
								%tr
									%td 
										= "#{movie.title_esp}"
									%td
										= "#{movie.title_eng}"
									%td
										= "#{movie.stock}"
									%td
										= link_to "Editar", edit_movie_path(movie)
