#content
	#content_inside
		#title
			BUSQUEDA RAPIDA
			%br/
			%br/
		%input.box{:size => "25", :type => "text", :placeholder => "PELICULA , ACTOR", :id => 'buscar'}
			%input.search{:type => "submit", :value => "Buscar"}
				%br/
				%br/
				%hr
					%br/
					#title Peliculas
					%table#newspaper-b{:summary => "2007 Major IT Companies' Profit"}
						%thead
							%tr
								%th{:scope => "col"} Titulo (ESP)
								%th{:scope => "col"} Titulo (ENG)
								%th{:scope => "col"} Disponible
								%th{:scope => "col"} Codigo
								%th{:scope => "col"} Opciones
						%tfoot
							%tr
								%td{:colspan => "5"}
									%em 
						%tbody
							- @movies.each do |movie|				
								%tr
									%td 
										= "#{movie.title_esp}"
									%td
										= "#{movie.title_eng}"
									%td
										= "#{movie.stock}"
									%td
										= "#{movie.code}"
									%td
										= link_to "Ver", movie_path(movie)
										= link_to "Editar", edit_movie_path(movie)
										= button_to "Eliminar", movie_path(movie), :method=> :delete, :confirm => "Esta seguro?"