#content
	#content_inside2
		#title
			Ventas
			%br/
			%br/
		%hr
			%table#newspaper-b{:summary => "2007 Major IT Companies' Profit"}
				%thead
					%tr
						%th{:scope => "col"} Titulo (ESP)
						%th{:scope => "col"} Titulo (ENG)
						%th{:scope => "col"} Fecha
				%tfoot
					%tr
						%td{:colspan => "5"}
							-if @count
								%em
									= "Total vendidas: #{@count}"
							
				%tbody
					- @sales.each do |sales|
						- if !sales.movie.nil?				
							%tr
								%td
									= "#{sales.movie.title_esp}"
								%td
									= "#{sales.movie.title_eng}"
								%td
									= "#{sales.created_at.strftime("%d-%m-%Y a las %I:%M:%S %P")}"
						
			%hr
				#add
					#add_extra2
						#title
							Reporte de Ventas
							%br/
							%br/
						%table{:align => "center"}
							%tr
								%td
									%a{:href => sales_path+"?today=1"} Ventas del dia
						%br/
						#title
							Personalizado
						%br/
						= form_for(sales_path, :method => :get) do |m|
							%table{:align => "center"}
								%tr
									%td Fecha Inicio
									%td Fecha Fin
								%tr
									%td
										= text_field_tag :datepicker
									%td
										= text_field_tag :datepicker2
							%input.button_add4{:type => "submit", :value => "Buscar"}
				%br/
				%br/
				%br/